body {
    background-color: #fcf0e4;
    font-family: 'Open Sans', sans-serif;
}

.jumbotron {
    background-color: #555555;
    color: white;
}

#title {
    font-family: 'Pacifico', cursive;
}

#subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
}

.snowman-img {
    position: relative;
}


.snowman-img .overlay{
    position: absolute;
    top: 0;
    left: 18%;
}